/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    min-height: 110vh;
}

html {
    scroll-behavior: smooth;
    font-family: Nunito, sans-serif;

}

/* custom scroll bar */
::-webkit-scrollbar {
    /* width: 10px; */
    visibility: hidden;
}

/* ::-webkit-scrollbar-track {
    background: #37afff;
}
::-webkit-scrollbar-thumb {
    background: #3da2f5;
}

::-webkit-scrollbar-thumb:hover {
    background: #555555;
} */

/* all similar content styling codes */
section {
    padding: 100px 0;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}


/* .skills {
    
} */

.about,
.services,
.skills,
.myTeams,
.contact,
footer {
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Asap', sans-serif;
    /* font-family: Nunito, sans-serif; */

}

.about .about-content,
.services .serv-content,
.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}


section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Asap', sans-serif;
    /* font-family: 'EB Garamond', serif; */
}

/* navbar styling */
.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    /* font-family: 'Ubuntu', sans-serif; */
    /* font-family: 'Asap', sans-serif; */
    font-family: 'EB Garamond', serif;
    transition: all 0.3s ease;

}
/* Navbar scroll color */
.navbar.sticky {
    padding: 15px 0;
    background: #191c3d;
    
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span {
    color: #fff;
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
    color: rgb(255, 255, 255);
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
    font-family: 'Asap', sans-serif; 
}

.navbar .menu li a:hover {
    color: hwb(0 0% 100%);
    font-weight: 800;
}

.navbar.sticky .menu li a:hover {
    color: #fff;
}

/* menu btn styling */
.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: #3c83ec;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

.scroll-up-btn:hover {
    filter: brightness(90%);
}

/* home sec styling */
.home {
    padding-left: 8em;
    display: flex;
    background: url("https://images.pexels.com/photos/160107/pexels-photo-160107.jpeg?auto=compress&cs=tinysrgb&w=1600") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Asap', sans-serif;
    text-align: center;
}

.home .max-width {
    width: 100%;
    display: flex;
    align-items: center;
}

.home .home-content .text-1 {
    font-size: 49px;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span {
    color: #000320;
    font-weight: 1000;
}

.home .home-content a {
    display: inline-block;
    background: #191c3d;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: none;
    transition: all 0.3s ease;
    align-items: center;
}

.home .home-content a:hover {
    color: rgb(255, 255, 255);
    /* background: rgb(160, 220, 255); */
    background: rgba(13, 25, 202, 0.699);
}

.home_img {
    max-width: 35%;
    padding: 10px;
}

.about {
    background-color: rgba(255, 255, 255, 0.082);
    /* background: url("imgs/") no-repeat center; */
    color: 212121;
}

.about .about-content .lf {
    width: 40%;
    text-align: center;
}

.about .about-content .lf img {
    max-height: 300px;
    max-width: 300px;
    object-fit: cover;
    border-radius: 200px;
    ;
    /* padding: 20px; */
}

.about .about-content .rt {
    width: 60%;
}

.about .about-content .rt .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .rt .text span {
    color: crimson;
}

.about .about-content .rt p {
    text-align: justify;
}

.about .about-content .rt a {
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.about .about-content .rt a:hover {
    color: crimson;
    background: none;
}


    



/* footer sec styling */

.footer {
    background-color:#191c3d ;
    /* background: url("imgs/bg.png") no-repeat center; */
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 2.5em 0;
    font-size: 1.7em;

}

footer span {
    font-size: .7em;
}

footer span a {
    color: #fff;
    text-decoration: none;
}

footer span a:hover {
    text-decoration: underline;
}

.footer a {

    color: #fff;
    text-decoration: none;
}

.footer__link {
    font-weight: 700;
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding-bottom: 2.5em;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}



/* responsive media query start */
@media (max-width: 1104px) {
    .about .about-content .left img {
        max-height: 350px;
        max-width: 350px;
    }
}

@media (max-width: 1024px) {
    .about .about-content .left img {
        max-height: 300px;
        max-width: 300px;
    }
}

@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }
}

@media (max-width: 947px) {

    .home_img {
        grid-area: img;

        position: relative;
        z-index: 2;
    }

    .menu-btn {
        display: block;
        z-index: 999;
    }

    .menu-btn i.active:before {
        content: "\f00d";
    }

    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navbar .menu.active {
        left: 0;
    }

    .navbar .menu li {
        display: block;
    }

    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

    .home .home-content .text-2 {
        font-size: 70px;
    }

    .home .home-content .text-3 {
        font-size: 35px;
    }

    .home .home-content a {
        font-size: 23px;
        padding: 10px 30px;
    }

    .max-width {
        max-width: 930px;
    }

    .about .about-content .column {
        width: 100%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .services .serv-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .myTeams,
    .skills .skills-content .column,
    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

@media (max-width: 690px) {
    .home {
        padding-left: 0;
    }

    .max-width {
        padding: 0 23px;
    }

    .home .home-content .text-2 {
        font-size: 60px;
    }

    .home .home-content .text-3 {
        font-size: 32px;
    }

    .home .home-content a {
        font-size: 20px;
    }

    .services .serv-content .card {
        width: 100%;
    }

    .about .about-content .lf img {
        max-height: 300px;
        max-width: 300px;
    }

}

@media (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }

    .about .about-content .lf img {
        max-height: 300px;
        max-width: 300px;
    }
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

/*@media screen and (max-width: 5400px) {
    .about .about-content .lf img{
    max-height: 540px;
    max-width: 540px;
   
    
  }*/



@media (max-width: 500px) {
    .home {
        padding-left: 0;
    }

    .home .home-content .text-2 {
        font-size: 50px;
    }

    .home .home-content .text-3 {
        font-size: 27px;
    }

    .about .about-content .lf img {
        max-height: 300px;
        max-width: 300px;
    }

    .about .about-content .right .text,
    .skills .skills-content .left .text {
        font-size: 19px;
    }

    .contact .right form .fields {
        flex-direction: column;
    }

    .contact .right form .name,
    .contact .right form .email {
        margin: 0;
    }

    .right form .error-box {
        width: 150px;
    }

    .scroll-up-btn {
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }

    .skills p {
        font-size: 8px
    }
}

@media (max-width: 375px) {
    about .about-content .lf img {
        max-height: 330px;
        max-width: 330px;
    }
    .social-list{
        font-size: 10px;
    }
    .footer__link{
        font-size: 15px;
    }


}


@media (max-width: 290px) {
    .home {
        padding-left: 0;
    }

    .about .about-content .lf img {
        max-height: 260px;
        max-width: 260px;
    }

}
@media (max-width:475px){
    .videow{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .frame{
        background: #46c4ff;
        width: 300px;
        height: 3000px;
       
    }
}
.videow{
    display: flex;
    justify-content: center;
}

/* Set height of body and the document to 100% to enable "full page tabs" */
/* Style tab links */
.tablink {
    background-color: #3CA67F;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 20%;
}

.tablink:hover {
    background-color: rgb(169, 223, 255);
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
    padding-left: 1em;
    padding-right: 1em;
}

#Web-Dev {
    background-color: rgb(169, 223, 255);
}

#Development {
    background-color: rgb(169, 223, 255);
}


.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    min-height: width;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

* {
    box-sizing: border-box;
}

.header {
    text-align: center;
    padding: 32px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.columns {
    flex: 20%;
    max-width: 20%;
    padding: 0 4px;
}

.columns img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */


.myTeams {
    max-width: 1140px;
    margin: auto;
    color: #212121;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row>.column {
    padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
}

.social-list__link {
    color: black;
}

/* Responsive layout - makes a two column-layout instead of four columns */

.card2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;

}

.title {
    color: white;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;

}

button:hover,
a:hover {
    opacity: 0.7;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
}

.tabs label {
    order: 1;
    display: block;
    padding: 1rem 2rem;
    margin-right: 0.2rem;
    cursor: pointer;
    background: rgb(0, 0, 0);
    font-weight: bold;
    transition: background ease 0.2s;
}

/* Skills tab  */
.tabs .tab {
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    padding: 1rem;
    background: rgb(5, 36, 51);
}

.tabs input[type="radio"] {
    display: none;
}

.tabs input[type="radio"]:checked+label {
    background: rgb(62, 119, 241);
}

.tabs input[type="radio"]:checked+label+.tab {
    display: block;
}


@media (max-width: 45em) {

    .tabs .tab,
    .tabs label {
        order: initial;
    }

    .tabs label {
        width: 100%;
        margin-right: 0;
        margin-top: 0.2rem;
    }
}